body{
/*
   taşmalrı kapat */
    overflow-x: hidden;

}

     *{

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /*
    verilen büyüklükleri uygulama ama boyutları taşımadan 
    padding ve margin üzerinden */
}
   
/*banner alanı */
.banner{
     min-width: 100vh;  
     min-height: 100vh;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(./img/banner.png);
    background-size:cover;
    background-position: center;
     position: relative;



}
/*header alanı*/
.header{
      padding:2% 6%;
       display: flex;
         justify-content: space-between;
            align-items: center;

        }

    .header a img  {

        width: 50px;
       border-radius: 50%;

          }  

    
 
  
.menu-btn{
      display: none;
      background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
     
}      


.nav-links {
    
    flex: 1;
    text-align: right;


}
.nav-links ul{
    display: flex;
    list-style: none;
   justify-content: end;
   gap: 30px;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;

}

/*text-box alanı*/
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*hareket ettirir x ve ye ekseni üzeinden */
    text-align: center;

}

.text-box h1{
    font-size: 40px;
    

}
.text-box p{
    margin: 10px 0 40px;
    
    }
   .banner-button     {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 34px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.4s ;/*kaç saniyede hangi özellikler meydana gelsin */
    
    }
    .banner-button:hover    {  

        background-color: #f44336;
         border:1px solid #f44336;

    }
     /* kuslar alanı */
    
    
.courses-area{
    
    
    margin: auto;
    padding: 100px;
    text-align: center;

}

.courses-area h1{
    font-size: 36px;
    font-weight: 600;

}
.courses-area p{
    font-size: 14px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
 width: 80%;
 

 }
     .courses , .campuses  {
       
        display: flex;
        gap:20px;
    
        justify-content: space-between;
        margin-top: 5%;

     }

     .course-card , .education-card {
        background-color:#fff3f3;
        flex-basis: 31%;
        padding: 20px 12px;
        margin-bottom: 5%;
        transition: all 0.4s;
        border-radius: 10px;
        flex:1;

     }
    .course-card:hover  , .education-card:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
       




     }
    


     .campus-area{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.campus-card{
    flex-basis: 32%;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;

    overflow: hidden;
    transition: all 0.4s;
}

.campus-card img{
    width: 100%;
    border-radius: 20px;
    transition: all 0.4s;

}

.layer  ,.education-row{
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 0.4s;
}

.layer:hover{
    background-color: rgba(226,0,0,0.7);
}

.layer h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}

.layer:hover h3{
    opacity: 1;
    bottom: 48%;
}

.campus-card:hover img{
    scale: 1.2;
}



.education-card{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}

.education-card img{
    width: 100%;
    aspect-ratio: 3 / 2; /* genislige gore yukseklik ver oran ile*/
    border-radius: 10px;
}

.education-card h3{
    margin-top: 16px;
    margin-bottom: 10px;
    height: max-content;
}

.education-card p {
    padding: 0;
    text-align: justify;
}






    /*ekran küçükken */
    @media (max-width:700px) {
        
    
        .courses{
            flex-direction: column;
        }
        



 .nav-linlks ul{
display: none;


    }
.menu-btn{
    display: inline;
}


  .text-box h1{
    font-size: 25px;

    }

    }





